@import "~bootstrap-icons/font/bootstrap-icons.css";

.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #007bff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.chatbot-button:hover {
  background-color: #007bff;
  color: #fff;
}

.fas {
  font-size: 24px;
}
