.message {
  display: flex;
  margin-bottom: 16px;
}

.message--user {
  justify-content: flex-end;
}

.message__content {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.message__text {
  border-radius: 20px;
  padding: 8px 16px;
  margin-bottom: 8px;
  color: rgb(0, 0, 0); /* Standardtextfarbe */
  background-color: #f0f0f0; /* Standardhintergrundfarbe */
}

.message--user .message__text {
  color: rgb(250, 247, 247); /* Textfarbe für Benutzernachricht */
  background-color: #0084ff; /* Hintergrundfarbe für Benutzernachricht */
}

.message__info {
  display: flex;
  justify-content: flex-end;
}

.message__time {
  font-size: 9px;
  color: #808080;
}

