<div class="message" [ngClass]="{'message--user': isUser}">
  <div class="message__content">
    <p class="message__text" >
      <span *ngIf="!isTyping" [innerHTML]="messageText">{{ messageText }}</span>
      <span *ngIf="isTyping">schreibt...</span>
      <img *ngIf="messageImage && !isTyping" [src]="messageImage" class="message__image" alt="Bildnachricht" />
    </p>
    <div class="message__info">
      <span class="message__time">{{ messageTime }}</span>
    </div>
    <div *ngIf="messageButtons && messageButtons.length > 0 && !isTyping" class="message__buttons">
      <button *ngFor="let button of messageButtons" class="message__button" (click)="onButtonClick(button.payload)">
        {{ button.title }}
      </button>
    </div>
  </div>
</div>
